:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}
.button {
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}
.button:hover{
  background: #fff;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}






@media screen and (max-width: 375px) {
  .intro {
      width: 100%;
  }



  .i-right>* {
      width: 50%;
      display: flex;
      align-items: center;
  }



  .Services {
      height: 50rem;
      margin-top: 4rem !important;
  }

  .contact-form {
      height: 35rem !important;
      padding: 5rem;
      width: 50%;
  }

 
  .c-right .user {
      width: 15rem;
  }
}



@media screen and (max-width: 425px) {
  .Servicess {
     
      align-items: center;
  }

  .experience {
      height: 50rem !important;
      flex-direction: column;
  }

  .works {
      
      align-items: center;
  }

  .w-right {
      left: 2rem !important;
  }

  .w-mainCircle {
      left: -10rem !important;
  }

  .portfolio {
      margin-top: 5rem;
      
  }

  .f-content>span {
      padding: 20px 0 0 10px;
  }

  .f-content {
      gap: 2px !important;
  }
}

@media screen and (max-width: 768px) {
  .n-button {
      display: none;
  }

  .n-list {
      flex: 1 !important;
      display: flex;
      justify-content: flex-end;
  }

  .n-list>img {
      left: -10px;
      padding: 2px;
      border: 2px solid black;

      align-items: flex-end;
  }

  .header-menu {

      color: white;
      gap: 3px;
      margin-top: 10rem;
      flex-direction: column;

      z-index: 77;
      position: fixed;
      right: 1rem;
  }

  .header-menu>a>li {
      padding: 5px;
     
  }


  .n-right>ul {
      padding: 1.4rem;
  }

  .i-name {

      padding: 2rem;
  }


  .blur {
      width: 10rem;
  }

  .intro {
      width: 85%;
  }

  .Services {
      flex-direction: column;
      height: 50rem !important;
      justify-content: center;
  }

  .cards {
      height: 40rem !important;
  }

  .cards .second-card {
      left: -2rem !important;
  }

  .works {
      flex-direction: column;
      height: 40rem !important;
    
  }

  .portfolio {
      height: 20rem;
  }

  .t-wrapper {
      /* // height: 40rem; */
      height: auto;
  }

  .contact-form {
      flex-direction: column;
      height: 32rem;
  }

  .w-left {
      text-align: center;
  }

  .f-content {
      gap: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
      width: 90%;
      height: 20rem;
  }

  .n-list {
      flex: 10;
  }


  .i-right> :nth-child(1) {
      left: -22%;
  }

  .i-right> :nth-child(2) {
      left: -5rem;
  }

  .Services {
      width: 90%;
      height: 30rem;
  }

  .cards {
      width: 95%;
  }

  .awesome> :nth-child(3) {
      font-size: 17px;
  }

  .works {
      width: 90%;
      height: 30rem;
      gap: 4rem;
  }

  .w-right {
      left: -10rem;
  }

  .portfolio {
      height: 20rem;
  }


}


@media screen and (max-width: 480px) {
  .App {
      padding: 0.5rem 1rem;
  }



  .n-button {
      display: none;
  }

  .intro {
      flex-direction: column;
      height: 64rem;
      gap: 7rem;
  }

  .i-right {
      transform: scale(0.8);
      left: -3rem;
  }

  .i-right .blur {
      display: none;
  }

  .FloatingDiv:nth-of-type(1) {
      top: -7rem !important;
  }

  .Services {
      margin-top: 0;
      flex-direction: column;
      gap: 5rem;
      height: 66rem;
      padding: 0;
  }

  .cards {
      display: flex;
      flex-direction: column;
      gap: 17rem;
  }

  .cards>* {
      position: static;
  }


  .card {
      width: auto;
  }

  .works {
      flex-direction: column;
      height: 55rem;
      padding: 0;
      gap: 5rem;
  }

  .w-right {
      display: flex;
      align-items: flex-start;
      justify-content: start;
      transform: scale(0.7);
  }

  .w-mainCircle {
      position: static;
  }

  .w-backCircle {
      left: 8rem !important;
  }

  .t-wrapper {
      padding: 0;
      height: 30rem;
  }

  .testimonial>img {
      width: 70px;
      height: 70px;
  }

  .contact-form {
      flex-direction: column;
      height: 32rem;
  }
}